.menuBg {
    z-index: 1;
    background-color: #000;
    height: 0;
    will-change: transform;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: .7s height ease .4s;
    transition: .7s height ease .4s;
    &.is-open {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        bottom: auto;
        -webkit-transition: .65s height ease;
        transition: .65s height ease;

    }

    &.is-open + #menuBtn{
        display:none;
    }
}



.global_menu{
    // display: none;
    z-index: 100;
   // visibility: hidden;
   /* pointer-events: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 1s visibility ease;
    transition: 1s visibility ease;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
}

.menu-closeText {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    cursor: pointer;
    -webkit-transition: .3s opacity;
    transition: .3s opacity;
    color: #fff;
    text-transform: uppercase;
    > div{
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                overflow: hidden;
            
    }
}

.is-open .menu-closeText-label {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: .75s -webkit-transform ease;
    transition: .75s -webkit-transform ease;
    transition: .75s transform ease;
    transition: .75s transform ease,.75s -webkit-transform ease;
}








.menu-closeBtn {
	z-index: 1;
	pointer-events: none;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transition: .3s opacity;
	transition: .3s opacity
}

.is-open .menu-closeBtn {
	opacity: 1
}


.menu-closeBtn-line:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.is-open .menu-closeBtn-line:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.menu-closeBtn-line:first-of-type:before {
    -webkit-transform-origin: left;
    transform-origin: left;
}
.menu-closeBtn-line:before {
    background-color: #fff;
}
.menu-closeBtn-line:before {
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s -webkit-transform ease;
    transition: 1s -webkit-transform ease;
    transition: 1s transform ease;
    transition: 1s transform ease,1s -webkit-transform ease;
}

.menu-closeBtn-line:after{
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s -webkit-transform ease;
    transition: 1s -webkit-transform ease;
    transition: 1s transform ease;
    transition: 1s transform ease,1s -webkit-transform ease;
}


.menu-closeBtn-line {
    width: 100%;
    height: 2px;
    margin-top: 50%;
}
.menu-closeBtn-line:before {
    background-color: #fff;
}
.menu-closeBtn-line:after, .menu-closeBtn-line:before {
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s -webkit-transform ease;
    transition: 1s -webkit-transform ease;
    transition: 1s transform ease;
    transition: 1s transform ease,1s -webkit-transform ease;
}
.menu-closeBtn-line:first-of-type:after {
    -webkit-transform-origin: right;
    transform-origin: right;
}
.menu-closeBtn-line:after {
    z-index: 1;
    background-color: rgba(0,0,0,.4);
}

.menu-closeBtn-line:last-of-type {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.menu-closeBtn-line:before{
    background-color: #fff;
}

.menu-closeBtn-line {
    width: 100%;
    height: 2px;
    margin-top: 50%;
}

.menu-inner {
    height: 100%;
   
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color:#fff;
    .menu-nav{
        a{
            -webkit-transition: .5s opacity ease;
            transition: .5s opacity ease;
            font-size: 7.03125vw;
        }
        .menu-nav-text.split-text{
            display: inline-flex;
            position: relative;
            color:#fff;
            span{

                font-family: 'Nunito Sans', sans-serif;
                font-weight: 900;;

                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-transition: .35s opacity cubic-bezier(.1,.2,.3,1),.5s -webkit-transform cubic-bezier(.1,.2,.3,1);
                transition: .35s opacity cubic-bezier(.1,.2,.3,1),.5s -webkit-transform cubic-bezier(.1,.2,.3,1);
                transition: .5s transform cubic-bezier(.1,.2,.3,1),.35s opacity cubic-bezier(.1,.2,.3,1);
                transition: .5s transform cubic-bezier(.1,.2,.3,1),.35s opacity cubic-bezier(.1,.2,.3,1),.5s -webkit-transform cubic-bezier(.1,.2,.3,1);                
            }            
        }
    }
}


// @media (min-width: 48.0625em){
    

    .menu-closeBtn {
        width: 2.5vw;
        height: 2.5vw;
        margin-top: 3.125vw;
        margin-right: 3.125vw;
    }    
    .menu-closeText-label {
        display: block;
        font-size: 1.5625vw;
    }
    .menu-body {
        width: 50%;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
    }
    .menu-nav a{
        display: block;
        position: relative;
        letter-spacing: .075em;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        color: #fff;
        line-height: 1.05;
        font-weight: 700;
        text-transform: uppercase;
    }
    .menu-nav a+a {
        padding-top: .05em;
        transition: .5s opacity ease;
        font-size: 7.03125vw;
    }  
    
    
// }


.menuBg{
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
.menuBg.is-open{
    -webkit-transform: translateX(-0%);
    -moz-transform: translateX(-0%);
    -ms-transform: translateX(-0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}



@media (max-width: 600px){
    .menu-inner .menu-nav a{
        font-size:50px;
    }
    .menu-body{
        width:100%;
        padding-left:80px;
    }
}