@media (min-width: 1024px){
    .works-archive__item:nth-child(n) {
        width: 25.37%;
        max-width: 340px;
        margin: 0 11.9% 7% 0;
    }
}

@media (min-width: 600px){
    .works-archive__item:nth-child(n) {
        width: 45%;
        margin: 0 10% 10% 0;
    }
}